:root {
  --slate-300: #d5e1ef;
  --slate-500: #68778d;
  --slate-900: #1f314f;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--slate-300);
  font-family: "Outfit", sans-serif;
  width: 100%;
  min-height: 100vh;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 120%;
  color: var(--slate-900);
  padding-bottom: 1rem;
}

p {
  font-size: 0.9375rem;
  line-height: 140%;
  letter-spacing: 0.013em;
  color: var(--slate-500);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
}

.box {
  background-color: var(--white);
  max-width: 20rem;
  padding: 1rem;
  padding-bottom: 2.5rem;
  border-radius: 1.25rem;
  text-align: center;
  transition: transform 0.3s ease;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.boxContent {
  padding: 0 1rem;
}

.boxContent h3 {
  margin-bottom: 1rem;
}

.imgCode {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 0.625rem;
  margin-bottom: 1.5rem;
}

.attribution {
  margin-top: 1rem;
  font-size: 0.75rem;
}